@model AdminModule.Models.VideoListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Video Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div style="display: flex; align-items: center;">
    <form asp-controller="Video" asp-action="Index" method="get" class="form-group" style="display: flex; align-items: center;">
        <label asp-for="SearchQuery">Search:</label>
        <input type="text" class="form-control" name="searchQuery" value="@Model.SearchQuery" style="margin-left:10px" />
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Search</button>
    </form>
</div>

<div id="video-list-container">
    @Html.Partial("_VideoListPartial", Model)
</div>
